@charset "UTF-8";
/*
    Azul Claro: #1B51F2
    Azul Logo: #005EA1
    Verde Bandeira: #0BD904
    Amarelo Bandeira: #F2B705
    Vermelho Bandeira: #F20505
*/
.cabecalho {
    text-align: center;
}
#cabeca {
    height: 100px;
    width: 600px;
}
.corpo {
    display: inline-block;
}
.barra-menu {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    background-color: #005EA1;
}
#page {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    color: white;
    margin: 0.1em;
    height: max-content;
    width: 7em;
    padding: 0.3px;
}
#page:hover {
    color: #F2B705;
}
.timeline {
    width: 60%;
    height: 10px;
}
.timeline, .rodape {
    display: inline-block;
}
.timeline > #titulo {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}
.timeline > p {
    text-align: justify;
}
.links-uteis {
    float: right;
    width: max-content;
    height: max-content;
    margin-top: 1em;
    background-color: #F2B705;
}
#links {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    color: black;
    margin: 0.1em;
    height: max-content;
    width: 5em;
    padding-left: 0.5em;   
}
#links:hover {
    background-color: #005EA1;
    color: white;
}